section {
    padding: 1rem 2rem 3rem;
}

.sectionText {
    max-width: 60rem;
    text-align: start;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.split {
    display: flex;
    gap: 5rem;
    justify-content: center;
}

@media (max-width: 51rem) {
    .split {
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;
        align-items: center;
    }
}

.split > div > ul {
    list-style-type: none;
    padding: 0;
    margin-top: 2rem;
    width: 12rem;
}

.split > div > ul > li {
    margin: .5rem 0;
}

#emails {
    font-size: 0.9rem;
    white-space: nowrap;
    cursor: pointer;
}

p > a {
    color: var(--contrast);
}
