#spacer {
    min-height: 10rem;
}

#boxContainer {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.textBox {
    text-align: center;
    background-color: #0005;
    border-radius: 1rem;
    width: 25rem;
    height: 15rem;
    padding: 0 1rem;
}