body {
    background-image: url('../assets/slideshow/12.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#boxContainer {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.textBox {
    text-align: center;
    background-color: #0005;
    border-radius: 1rem;
    width: 25rem;
    min-height: 10rem;
    padding: 0 1rem 2.5rem;
}

.mainContainer {
    margin-bottom: 4rem;
}

#introText {
    max-width: 60rem;
    text-align: start;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0005;
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin: 3rem 0;
    font-size: 1.1rem;
}
