#imageSlider {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -100;
}

#imageSlider > img {
    position: absolute;
    top: 0;
    left: -50%;
    transition-duration: 1s;
}

@media (min-width: 100vh) {
    #imageSlider > img {
        left: 0;
        width: 100%;
        top: -40%;
    }
}
