h2 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 42rem;
}

#map {
    position: relative;
    max-width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    margin: 5rem 0;
    box-shadow: .5rem .5rem 2rem #0004;
}

#map>img {
    max-width: 100%;
    max-height: 42rem;
    border-radius: 1rem;
}

#mobileMap {
    display: none;
    gap: 3rem;
    justify-content: center;
    margin: 2rem 0;
}

@media (max-width: 64rem) {
    #map {
        display: none;
    }

    #mobileMap {
        display: grid;
    }
}

.marker {
    position: absolute;
    height: 2rem;
    width: 2rem;
    transform: translate(-50%, -112%);
    z-index: 10;
}

.marker>i {
    color: red;
    font-size: 2rem;
}

.markerCard,
.mobileCard {
    background-color: var(--gray-light);
    padding: 10rem 1.5rem 1rem;
    border-radius: 1rem;
    text-align: start;
    overflow: hidden;
}

.markerCard {
    min-width: 35rem;
    position: absolute;
    font-size: .875rem;

    opacity: 0;
    transform: scale(0);
    transition-property: opacity, transform;
    transition-duration: .4s;
}

.mobileCard {
    max-width: 45rem;
    position: relative;
    box-shadow: .5rem .5rem 2rem #0004;
    transition-property: box-shadow, transform;
    transition-duration: .2s;
}

.mobileCard:hover {
    box-shadow: none;
    transform: scale(101%);
}

.marker:hover>.markerCard {
    opacity: 100;
    transform: scale(100%);
}

.markerCardImg,
.mobileCardImg {
    position: absolute;
    height: 10rem;
    width: 102%;
    top: -1%;
    left: -1%;
    background-size: cover;
    background-position: center;
}

.markerCardImg {
    z-index: -1;
}