h2 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 32rem;
}

#map {
    position: relative;
    max-width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

#map>img {
    max-width: 100%;
    max-height: 42rem;
}

#mapMobile {
    display: none;
}

@media (max-width: 64rem) {
    #map {
        display: none;
    }

    #mapMobile {
        display: block;
    }
}

.marker {
    position: absolute;
    height: 2rem;
    width: 2rem;
    transform: translate(-50%, -112%);
    z-index: 10;
}

.marker>i {
    color: red;
    font-size: 2rem;
}

.markerCard {
    background-color: var(--gray);
    min-width: 20rem;
    padding: 10rem 1rem 1rem;
    border-radius: 1rem;
    text-align: left;
    position: relative;
    overflow: hidden;

    opacity: 0;
    transform: scale(0);
    transform-origin: top left;
    transition-property: opacity, transform;
    transition-duration: .4s;
}

.marker:hover>.markerCard {
    opacity: 100;
    transform: scale(100%);
}

.markerCardImg {
    position: absolute;
    height: 10rem;
    width: 102%;
    top: -1%;
    left: -1%;
    z-index: -1;
    background-size: cover;
    background-position: center;
}