:root {
    --bg: #424242;
    --fg: #fff;
}

* {
    font-family: 'Montserrat', sans-serif;
    color: var(--fg);
}

body {
    background-color: var(--bg);
    overflow-x: hidden;
}

.title{
    font-size: 100px;
    text-align: center;
}
