:root {
    --white: #fff;
    --gray: #24292e;
    --green-300: #9FE528;
    --green-500: #679713;
    --contrast: #F28705;
}

* {
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
}

body {
    background-color: var(--gray);
    overflow-x: hidden;
    text-align: center;
    margin: 0;
}

#title{
    font-size: 3.5rem;
    text-align: center;
}


#slider{
    overflow: hidden;
}