section{
    min-height: 20rem;
    padding: 1rem;
}

.sectionSpacer{
    width: 90%;
    background-color: #679713;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
}